/* Set colors for the page */
body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); /* this is the font color*/
    font-size: large;
}

/* create styles for the h1 tag */
h1{
    color:green ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}
/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: teal;
    font-family: serif;
    font-size: larger;
    text-align: center;
}



/* create styles for the h2 tag */
h2{
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

/* create styles for the h3 tag */
h3{
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

/* create styles for the p tag */
p{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
}
img{
    width: 40%;
    display: block;
    margin: 10px auto; 
    /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}