h1{
    color: blue;
    text-align: center;
    margin: 10px;
    outline: 5px solid #B0EDFF;
    width: 700px;
    margin-left: 90px;
    outline-offset: 4px;
    border-radius: 10px;
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(81,114,115,1) 43%, rgba(0,212,255,1) 100%);
}
.card{
    column-count: 3;
    column-gap: 5px;
    text-align: center;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgb(160, 158, 198) 0%, rgba(214, 84, 218, 0.995) 43%, rgba(0,212,255,1) 100%);
border-radius: 40px;
margin-top: 50px;
}
table, th, td, tr{
    border: 1px solid grey;

}
table{
    width: 90%;
    text-align: center;
    margin-left: 40px;
    margin-top: 10%; 
    box-sizing: content-box;
}
.class{
    column-count: 4;
    column-gap: 5px;
    text-align: center;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgb(13, 161, 235) 0%, rgba(3, 93, 158, 0.995) 43%, rgb(10, 199, 232) 100%);
border-radius: 40px;
margin-top: 50px;
}
