body{
    background: rgb(95, 95, 104);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(195, 197, 205);
    font-size: large;
}
img{
    width: 50%;
    display: block;
    margin: 10px auto;
    padding: 10px; 
    background:rgb(31, 85, 89);
    border: 5px rgb(255, 0, 0);
    border-radius:30px ;

}
dt{
    color: rgb(101, 68, 28);
    font-size: larger;
    text-align: left auto;
    font-weight: bold;
}
dd{
    color: rgb(66, 60, 64);
    font-size: larger;
    text-align: left auto;
    font-weight: bold;
}
ul{
    list-style: lower-greek;
    color: rgb(90, 0, 0);
}
ol{
    list-style: lower-roman;
    color: rgb(8, 52, 7);
}
h1,h2{
    color: rgb(47, 47, 89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
p{
    color: rgb(46, 46, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}