*{
    overflow: auto;
}
body{
    font-family: 'Lora', serif;
    background-color:grey ;
    color:#29C4FF ;
    box-sizing: border-box;
    font-weight: 600;
}
nav{
    text-align: center;
    line-height: 3;
}
nav a, .button{
    padding: 10px 30px;
    margin-left: 20px;
    color: blue;
    background-color: aqua;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 20px;  
}
nav a:hover, .button:hover {
    color: aqua;
    background-color: blue;
}
h1{
    text-align: center;
    font-size: 40px;
    color: #1125E0;
    font-family:'Oswald', sans-serif;
    font-weight: 900;
}
footer{
    text-align: center;
    margin-top: 600px;
    color: black;
}
h2{
    text-align: left;
    font-size: 30px;
    color: #D49C04;
    font-family:'Oswald', sans-serif;
    font-weight: 900;
}
aside{
    margin: 10px 450px 10px 10px;
}
#dummy{
      float: right;
      position: absolute;
      top: 200px;
      right: 20px;
}
#graphic{
    width: 300px;
    height: 300px;
    margin-top: 30px;
}
#text{
    float: right;
    position: absolute;
    left: 400px;
    top: 590px;
}
h3{
    text-align: left;
    font-size: 30px;
    color: #D49C04;
    font-family:'Oswald', sans-serif;
    font-weight: 900;
    position: fixed;
    right: 200px;
}
#architect{
width: 300px;
height: 300px;
}
#architect2{
    width: 300px;
    height: 300px;
}
#h2{
right: 400px;
position: absolute;
}
#h3{
top: 800px;
left: 400px;
position: absolute;
}
#text1{
margin-top: 100px;
}
#text2{
margin-top: 100px;
}
#h4{
margin-top: 15px;
position: absolute;
right: 350px;
}
#h5{
position: absolute;
right: 300px;
}
#designer{
height: 300px;
width: 300px;
margin-left: 150px;
}
#designer1{
height: 300px;
width: 300px;
margin-left: 150px;
}
#text3{
    margin-top: 60px;
}
#text4{
    margin-top: 80px;
    right: 300px;
}